/* CUSTOM PROPERTIES */
:root {
    --primario: #C2185B;
    --secundario: #FFC107;
    --primarioOscuro:rgb( 156, 10, 69);

    --fuentePrimaria: 'Arial', Helvetica, sans-serif;
    --fuenteSecundario: 'Poppins', sans-serif;
}

/* ------------------------------------------------------------------------------------------------ */

/* BOX SIZING */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ------------------------------------------------------------------------------------------------ */

/* TITLES */

h1, h2 {

    font-family: var(--fuentePrimaria);
    text-align: center;
    margin: 0;
}

h1{
    padding: 20px;
    color: white;
}

h2 {

    font-size: 2rem;
    color: var(--primarioOscuro);

}

.contenedor-barra {
    background-color: var(--primarioOscuro);
}

/* ------------------------------------------------------------------------------------------------ */

/* GENERAL */

body {

    background-color: var(--primario);
    font-family: var(--fuentePrimaria);

}

.contenedor{

    max-width: 1100px;
    margin: 0 auto;

}

.bg-amarillo{
    background-color: var(--secundario);
}

.bg-blanco{
    background-color: white;
}

.barra {

    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;

}

.btn {

    font-size: 2rem;
    text-decoration: none;

}

.btn:hover{

    cursor: pointer;

}

.btn-editar {

    color: var(--secundario)

}

.btn-borrar {

    color: var(--primario);

}

.btn-volver {

    background-color: var(--secundario);
    border-radius: 5px;
    text-align: center;
    color: #000000;
    font-weight: 700;
    font-size: 1.2rem;
    padding: .5rem;

}

.sombra {

    -webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.5);
    border-radius: 10px;

}

/* ------------------------------------------------------------------------------------------------ */



/* FORM */

form {

    padding: 3rem;
    margin-top: 2rem;

}

form legend{

    font-family: var(--fuenteSecundario);
    font-size: 2rem;
    text-align: center;
    display: block;

}

form legend span{

    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    clear: both;
    display: block;

}


@media (min-width:  768px){

    .campos {

        display: flex;
        justify-content: space-between;
    
    }
    
    .campo {
    
        flex: 0 0 calc(33.3% - 1rem );
    
    }

}

.campo {

    padding: .5rem 0;

}

.campo label {

    font-size: 1.2rem;

}

.campo input[type='text'],
.campo input[type='tel'] {

    width: 100%;
    border: none;
    padding: .5rem;
    height: 3rem;
    margin-top: .5rem;

}

.enviar {

    display: flex;
    justify-content: flex-end;

}

.campo input[type='submit'] {

    background-color: var(--primario);
    border: none;
    color: #ffffff;
    padding: 1rem 4rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: background-color .5s ease-out;
    flex: 1;

}

.campo input[type='submit']:hover {

    cursor: pointer;
    background-color: var(--primarioOscuro);

} 

@media (min-width:  768px){

    .campo input[type='submit']{

        flex: 0 0 auto;

    }

}

/* ------------------------------------------------------------------------------------------------ */

/* CONTACT LIST */

.contactos {

    padding: 2rem;
    margin-top: 3rem;

}

.contenedor-contactos {

    max-width: 800px;
    margin: 4rem auto 0 auto;

}

.total-contactos {

    font-family: var(--fuenteSecundario);
    margin: 2rem 0;
    text-align: center;
    color: var(--primario);
    font-size: 2rem;

}

.total-contactos span {

    font-size: 3rem;
    font-weight: 900;

}

.buscador {

    width: 100%;
    height: 4rem;
    padding: 1rem;
    border: 1px solid #e1e1e1;
    margin: 2rem 0;

}

.contenedor-tabla {

    overflow: none;

}

.listado-contactos {

    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;

}

.listado-contactos thead{

    background-color: var(--primario);
    color: #ffffff;
    text-transform: uppercase;

}

.listado-contactos thead th {

    padding: 1rem 0;

}

.listado-contactos tbody td {

    padding: .5rem;

}

.listado-contactos tbody td:nth-child(4) {

    text-align: center;

}

.listado-contactos buttons {

    background-color: transparent!important;
    border: none

}


/* ------------------------------------------------------------------------------------------------ */

/* NOTIFICATIONS */
.notificacion{

    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 1rem 3rem;
    opacity: 0;
    transition: opacity .5s ease;

}

.visible {

    opacity: 1;

}

/* NOTIFICATIONS COLORS */

.correcto {

    background-color: rgb( 179, 241, 117 );
    color: green;

}

.error {

    background-color: rgb( 238, 148, 166 );
    color: rgb( 163, 0, 33 );

}

/* ------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------------ */